<div class="shell">
  <mat-toolbar class="shell-header">
    <mat-toolbar-row>Header</mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="shell-container">
    <mat-sidenav mode="side" opened class="shell-sidenav">
      <mat-nav-list>
        <a mat-list-item href="#">Link 1</a>
        <a mat-list-item href="#">Link 2</a>
        <a mat-list-item href="#">Link 3</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  <mat-toolbar class="shell-footer">
    <mat-toolbar-row>Happy Reading &copy;2018</mat-toolbar-row>
  </mat-toolbar>
</div>